*{
    background-image: url(/photosPortefolio/IMG_5732_2.jpg);
    margin: 0 auto;
    padding: 0 auto;
    width: auto;
}

header nav{
    background-image: url(/photosPortefolio/20210811_IMG_0683\ \(2\).JPG);
    width: 1280px;
}

#menu{
    text-align: center;
    justify-content: space-between;
    position: sticky;
    display:flexbox;
}

#menu ul{
    position: relative;
    float: left;
}

#menu ul li {
    list-style-type: none;
    position: absolute;
    display:inline-block;
}

#menu ul li a{
    
}