body{
    background-image: url(/portefolio-construction/images/photosPortefolio/balade.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 auto;
    background-size:cover;
}

nav#menu{
    background-image: url(/portefolio-construction/images/photosPortefolio/20210811_IMG_0683\(2\).JPG);
    background-repeat: no-repeat;
    display: flexbox;
    width: max-content;
    text-align: center;
    height: 5em;
    align-items: center;
}

#menu ul{
    list-style-type: none;
}

#menu ul li {
    display: inline;
    padding: 2em;
}

#menu ul li a{
    text-decoration: none;
}

h1{
    color: #269e2a;
}