

body{
    background-image: url("../images/panneauxTagCentreBruxelles.JPG");
    background: cover;
    opacity: 1;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    width: auto;
}

/* Barre de navigatiaon */

nav#menu{
    background-color: #FEECE6;
    background-repeat: no-repeat;
    width:auto;
    text-align: center;
    height: 4.5em;
    align-items: center;
    display: grid;
    margin: 0 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
}

#menu ul{
    color: #C4FDFB;
    list-style-type: none;
}

#menu ul li {
    display: inline;
    padding: 2em;
}

#menu ul li:hover{
    background-color: #FAD7C4;
}

#menu ul li a{
    text-decoration: none;
    padding: 0 5px;
    font-size: 1.5em;
}

#menu ul li a:visited{
    color: #66B7AD;
}

/* Apparence générale */

#logoTypo{
    font-size:2em;
    font-family:cursive, sans-serif;
}

footer{
    width:80%;
    margin: auto;
}

footer p{
    padding: 10px;
    text-align: center;
}

h1{
    color: #269e2a;
}

/* Page "home.php" */

.cartouche{
    width:auto;
    height: minmax(30vh, auto);
    border: solid 5px #09330a;
    padding: 5px;
    margin: 5px auto;
    display: grid;
    margin: 0 20px 0 20px;
}

.align-items-center{
    align-items:center
}

.justify-content-center{
    justify-content:center;
}

.cercle{
    width:150px;
    height: 150px;
    border: 5px solid #09330A;
    border-radius: 50%;
    margin:5px;
    line-height: 2em;
    text-align: center;
    position:relative;
}

#logoTypo{
    transform: rotate(45deg);
    position: absolute;
    top:20px;
    left:75px;
}


