body{
    background-color: #88C7BC;
    opacity: 0.8;
    margin: 0 auto;
    padding: 0 auto;
}

/* Barre de navigation */

nav#menu{
    background-color: #964F4CFF;
    background-repeat: no-repeat;
    width:auto;
    text-align: center;
    height: 3em;
    align-items: center;
    display: grid;
    margin: 0 20px auto;
}

#menu ul{
    color: white;
    list-style-type: none;
}

#menu ul li {
    display: inline;
    padding: 2em;
}

#menu ul li a{
    text-decoration: none;
    padding: 0 5px;
}

/* Apparence générale */

#logoTypo{
    font-size:2em;
}

footer{
    width:80%;
    margin: auto;
}

footer p{
    padding: 10px;
    text-align: center;
}

h1{
    color: #269e2a;
}

/* Page "home.php" */

.cartouche{
    width:80%;
    height: 60vh;
    border: solid 5px #09330a;
    padding: 5px;
    margin: 5px;
    display: grid;
    margin: 0 20px 0 20px;
}

.cercle{
    width:150px;
    height: 150px;
    border: 5px solid #09330A;
    border-radius: 50%;
    margin:5px;
    line-height: 2em;
    text-align: center;
    align-items: center;
}


